<DOCTYPE! html>
<html>

<head>
  <title><%= @recipe.name %></title>
</head>
<body>
  <h2>Name: <%= @recipe.name %></h2>
  <p>Cook Time: <%= @recipe.cook_time %></p>
  <p>Ingredients: <%= @recipe.ingredients %></p>
  <p><a href="/recipes/<%= @recipe.id %>/delete">Delete</a></p>
  <p><form action="/articles/<%= @article.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
</body>

</html>
